/*!*********************************/
/*! Search form
/**********************************/

.vlt-search-form
	.vlt-form-group
		position relative
		padding-bottom 0

	button
		position absolute
		top 0
		right 0
		height 100%
		padding 0 15px

		color $c6
		text-transform uppercase
		letter-spacing 1px

		border none
		background-color $c0
		cursor pointer
		box-shadow none
		transition()
		&:hover
			color $c6

			background-color $c1