/*!*********************************/
/*! General
/**********************************/

.vp-portfolio.vp-portfolio__loading .vp-portfolio__items-wrap,
.vp-portfolio.vp-portfolio__loading .vp-portfolio__filter-wrap,
.vp-portfolio.vp-portfolio__loading .vp-portfolio__pagination-wrap
	opacity 1 !important

.vp-portfolio__preloader
	margin-top 50px !important
	span
		background-color $c3 !important