/*!*********************************/
/*! Shortcode: Video Lightbox
/**********************************/

.vlt-video-lightbox
	position relative
	a
		display flex
		align-items center
		justify-content center
		position absolute
		top 50%
		left 50%
		height 44px
		width 44px
		margin-left -22px
		margin-top -22px

		color $c0

		z-index 2
		background-color rgba($c6, 90%)
		border-radius 50%