/*!*********************************/
/*! Shortcode: Circle Bar
/**********************************/

.vlt-circle-bar

	.vlt-circle-bar__content
		display flex
		align-items center
		justify-content center
		position relative

		span
			position absolute

			font-size 22px
			color $c0

			&::after
				content '%'

	.vlt-circle-bar__title
		margin 20px 0 0

		text-transform uppercase
		letter-spacing 2px
		text-align center