/*!*********************************/
/*! Shortcode: Alerts
/**********************************/

.vlt-alert
	position relative
	padding 15px 30px
	margin-bottom 30px

	color $c6
	font-size 14px

	background-color $c0

	strong
		font-weight normal

	p:first-of-type
		margin-top 0

	p:last-of-type
		margin-bottom 0