/*!*********************************/
/*! Shortcode: Collage
/**********************************/

.justified-gallery
	position relative
	width 100%

	overflow hidden

	> div
		position absolute
		margin 0
		padding 0

		overflow hidden

		img
			position absolute
			top 50%
			left 50%