/*!*********************************/
/*! Shortcode: CF7
/**********************************/

.wpcf7

	br
		display none

	.wpcf7-not-valid-tip
		margin 5px 0 0

		text-transform none
		letter-spacing 1px
		font-size 12px

	.wpcf7-response-output
		padding 15px 30px !important
		margin 15px 0 0 !important

		color $c6
		font-size 14px

		background-color $c0
		border none

	span.ajax-loader
		display none