/*!*********************************/
/*! Shortcode: Hero Header
/**********************************/

// Hero

.vlt-hero-title
	display flex
	align-items center
	justify-content center
	padding 140px 15px
	min-height 80vh

	background-color $c8

	&__content
		padding 75px
		min-width 30%

		text-align center

		background-color rgba($c6, 90%)
		@media (max-width: 767px)
			padding 50px 30px


		h1
			margin 0
			padding-left 3px

			font-size 28px
			text-transform uppercase
			letter-spacing 3px
			@media (max-width: 767px)
				font-size 22px

		p,
		.woocommerce-breadcrumb
			margin-top 10px
			margin-bottom 0
			padding-left 3px

			letter-spacing 3px
			font-size 13px
			text-transform uppercase
			@media (max-width: 767px)
				font-size 10px

// Minimal

.vlt-minimal-title
	padding 180px 15px

	text-align center

	background-color $c4

	h1
		margin 0
		padding-left 3px

		font-size 38px
		text-transform uppercase
		letter-spacing 3px
		@media (max-width: 767px)
			font-size 22px

	p,
	.woocommerce-breadcrumb
		margin-top 10px
		margin-bottom 0
		padding-left 3px

		letter-spacing 3px
		font-size 13px
		text-transform uppercase
		@media (max-width: 767px)
			font-size 10px