/*!*********************************/
/*! Shortcode: Testimonials
/**********************************/

.vlt-testimonials-child

	&__avatar
		display inline-block
		margin-bottom 30px
		img
			margin 0 auto
			max-width 60%

			border-radius 50%

	&__text
		margin 0

		font-size 18px

	&__meta
		margin-top 30px

		letter-spacing 2px

	&__name
		margin 0
		text-transform uppercase

	&__function
		margin 5px 0 0

		font-size 14px
		text-transform uppercase