/*!*********************************/
/*! Shortcode: Counter Up
/**********************************/

.vlt-counter-up
	text-align center

	&__header
		font-size 34px
		line-height 1

	&__icon
		display block
		margin-bottom 20px

	&__number
		font-size 38px

	&__title
		margin 20px 0 0

		font-size 18px
		text-transform uppercase
		letter-spacing 2px