/*!*********************************/
/*! Shortcode: Services
/**********************************/

.vlt-services

	&--top-center
		text-align center

	&--top-left
		text-align left

	&--top-right
		text-align right

	.vlt-services__icon
		display inline-flex
		margin-bottom 20px

		font-size 40px
		line-height 0

	&.vlt-services--left
		text-align left

		.vlt-services__icon
			margin-right 25px
			margin-bottom 0


	&.vlt-services--right
		text-align right

		.vlt-services__icon
			margin-left 25px
			margin-bottom 0

	&__title
		margin 0

		font-size 18px
		text-transform uppercase
		letter-spacing 2px

	&__text
		margin 15px 0 0