/*!*********************************/
/*! Shortcode: Services Box
/**********************************/

.vlt-services-box
	padding 30px

	text-align center

	background-color $c6
	border 1px solid $c8
	transition()

	&__icon
		display inline-flex
		margin-bottom 20px

		font-size 40px
		line-height 0

	&__title
		margin 0

		font-size 18px
		text-transform uppercase
		letter-spacing 2px

	&__text
		margin 15px 0 0

	&:hover
		box-shadow 0 15px 30px rgba($c0, 10%)
		transform translateY(-10px)