/*!*********************************/
/*! Footer minimal
/**********************************/

.vlt-footer--minimal

	.vlt-footer__top
		padding 80px 0

	.vlt-footer__menu + .vlt-footer__copyright,
	.vlt-footer__logo + .vlt-footer__menu
		margin-top 40px

	.vlt-footer__menu
		@media (max-width: 575px)
			li
				display block