/*!*********************************/
/*! Post style also like
/**********************************/

.vlt-post--style-also-like

	.vlt-post-thumbnail + .vlt-post-content
		margin-top 15px

	.vlt-post-content

		.vlt-post-title
			margin-bottom 5px

			font-size 16px

		.vlt-post-meta
			font-size 14px

	@media (max-width: 767px)
		margin-bottom 30px