/*!*********************************/
/*! Post style default
/**********************************/

.vlt-post--style-default
	padding-bottom 50px !important

	border-bottom 1px solid $c9

	.vlt-post-thumbnail + .vlt-post-content
		padding-top 25px

	.vlt-post-content

		.vlt-post-title
			font-size 24px

		.vlt-post-meta
			margin-top 15px

		.vlt-post-excerpt
			margin-top 20px

		footer
			margin-top 25px

	&.format-quote,
	&.format-link
		.vlt-post-content
			header
				.vlt-post-icon
					display flex
					justify-content center

					a
						display flex
						align-items center
						justify-content center
						height 34px
						width 34px

						color $c6

						background-color $c0
						border-radius 50%

			.vlt-post-excerpt
				margin-top 30px

				blockquote
					margin 0
					padding 0 12%

					text-align center
					&::before
						display none

				.vlt-post-title
					text-align center

			footer
				text-align center
				color $c10

.grid-item&:last-child
	.vlt-post--style-default
		padding-bottom 0 !important

		border-bottom none