/*!*********************************/
/*! Post meta
/**********************************/

.vlt-post-meta
	display block

	span
		margin-right 15px

		color $c10

	span i
		margin-right 5px

		color $c2