/*----------------------------------------------------------

[Master Stylesheet]

Project: Vinero
Version: 2.0

01. General
02. Header
03. Footer
04. Blog
05. Portfolio
06. Plugins
07. Elements
08. Shortcodes
09. WooCommerce

----------------------------------------------------------*/

@import 'general/variables'

/*!*********************************/
/*! 01. General
/**********************************/

@import 'general/content'
@import 'general/typography'

/*!*********************************/
/*! 02. Header
/**********************************/

@import 'header/header'
@import 'header/header-default'
@import 'header/header-aside'
@import 'header/header-fullscreen'
@import 'header/header-mobile'

/*!*********************************/
/*! 03. Footer
/**********************************/

@import 'footer/footer'
@import 'footer/footer-minimal'
@import 'footer/footer-widget'

/*!*********************************/
/*! 04. Blog
/**********************************/

@import 'blog/blog-pagination'

@import 'blog/blog-comments'
@import 'blog/blog-sidebar'

@import 'blog/post/particles/post-thumbnail'
@import 'blog/post/particles/post-title'
@import 'blog/post/particles/post-meta'
@import 'blog/post/particles/post-footer'

@import 'blog/post/post-style-masonry'
@import 'blog/post/post-style-also-like'
@import 'blog/post/post-style-default'
@import 'blog/post/post-style-single'

/*!*********************************/
/*! 05. Portfolio
/**********************************/

@import 'portfolio/portfolio'
@import 'portfolio/portfolio-pagination'
@import 'portfolio/portfolio-filters'
@import 'portfolio/portfolio-slider'
@import 'portfolio/portfolio-single'
@import 'portfolio/style/default'
@import 'portfolio/style/fly'
@import 'portfolio/style/fade'
@import 'portfolio/style/emerge'

/*!*********************************/
/*! 06. Plugins
/**********************************/

@import 'plugins/jarallax'
@import 'plugins/tooltipster'
@import 'plugins/photoswipe'
@import 'plugins/fancybox'
@import 'plugins/slick'

/*!*********************************/
/*! 07. Elements
/**********************************/

@import 'elements/element-search-form'
@import 'elements/element-back-to-top'
@import 'elements/element-site-preloader'
@import 'elements/element-mejs'
@import 'elements/element-content-empty'
@import 'elements/element-link-pages'
@import 'elements/element-edit-link'
@import 'elements/element-post-navigation'
@import 'elements/element-page-404'
@import 'elements/element-post-password'
@import 'elements/element-masonry'
@import 'elements/element-appearance-effect'

/*!*********************************/
/*! 08. Shortcodes
/**********************************/

@import 'shortcodes/shortcode-alerts'
@import 'shortcodes/shortcode-cf7'
@import 'shortcodes/shortcode-buttons'
@import 'shortcodes/shortcode-ads-banner'
@import 'shortcodes/shortcode-collage'
@import 'shortcodes/shortcode-dropcap'
@import 'shortcodes/shortcode-partner-logo'
@import 'shortcodes/shortcode-pricing-table'
@import 'shortcodes/shortcode-services'
@import 'shortcodes/shortcode-services-box'
@import 'shortcodes/shortcode-counter-up'
@import 'shortcodes/shortcode-testimonials'
@import 'shortcodes/shortcode-hero-header'
@import 'shortcodes/shortcode-progress-bar'
@import 'shortcodes/shortcode-circle-bar'
@import 'shortcodes/shortcode-single-icon'
@import 'shortcodes/shortcode-single-image'
@import 'shortcodes/shortcode-team-member'
@import 'shortcodes/shortcode-video-lightbox'
@import 'shortcodes/shortcode-work-meta'
@import 'shortcodes/shortcode-timeline'

/*!*********************************/
/*! 09. WooCommerce
/**********************************/

@import 'woocommerce/general'
@import 'woocommerce/cart'
@import 'woocommerce/checkout'
@import 'woocommerce/account'
@import 'woocommerce/shop-sidebar'
@import 'woocommerce/product-default'
@import 'woocommerce/product-single'